<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% block title %}Tareas App{% endblock %}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            colors: {
              primary: '#137fec',
              secondary: '#34d399',
              'background-light': '#f6f7f8',
              'background-dark': '#101922',
            },
            fontFamily: {
              display: ['Inter', 'sans-serif'],
            },
            borderRadius: {
              DEFAULT: '0.25rem',
              lg: '0.5rem',
              xl: '0.75rem',
              full: '9999px',
            },
          },
        },
      };
    </script>
    <style>
      .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>

  <body class="bg-background-light dark:bg-background-dark font-display">
    <div class="flex flex-col min-h-screen">

      {% block body %}
       
      {% endblock %}

    </div>
    <script>
      // Oculta el mensaje de alerta después de 5 segundos
      document.addEventListener('DOMContentLoaded', function() {
          const alertMessage = document.getElementById('alert-message');
          
          if (alertMessage) {
              setTimeout(() => {
                  alertMessage.classList.add('opacity-0');
                  setTimeout(() => alertMessage.remove(), 500);
              }, 5000);
          }
      });
    </script>
  </body>
</html>
